@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
.main-container{
    display: flex;
    min-height: 100vh;
}

.left-half {
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    flex: auto;
    position: relative;
    flex: 1;
}

.logo-container{
    max-width: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    height: 20%;
    position: relative;
    top: 20%;
    display: flex;
    justify-content: center;
    padding: 10px;
    
}

.logo-text {
    font-family: norsebold;
    color: white;
    font-size: 8rem;
    position: relative;
    bottom: 30px;
}

.right-half{
    flex: 2
}

.upper-text {
    font-family: sans-serif;
    font-weight: bold;
    padding: 20px;
    font-size: clamp(1rem, 1.2rem, 2rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 17vh;
    background-color: rgb(0, 0, 0, 0.05);
}

.upper-text > p {
    max-width: 80%;
}

.italic {
    font-style: italic
}